<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0919F6E91E1541C800D9EFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0919F7021E1541C800D9EFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0919F70D1E1541C800D9EFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
